<main class="ps-page--my-account">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Trang chủ</a></li>
                <li><a [routerLink]="['/profile']">Tài khoản</a></li>
                <li>Tài khoản cá nhân</li>
            </ul>
        </div>
    </div>

    <section class="ps-section--account">
        <div class="container">
            <h3>Thông tin cá nhân</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">Tên người dùng</th>
                            <td>{{ customer.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{ customer.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Số điện thoại</th>
                            <td>{{ customer.phone }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Giới tính</th>
                            <td>{{ customer.gender ? 'Nam' : 'Nữ' }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Địa chỉ</th>
                            <td>{{ customer.address }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Ngày tham gia</th>
                            <td>{{ customer.registerDate | date: 'dd-MM-yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Nút chỉnh sửa -->
            <div class="text-center mt-3">
                <button class="btn btn-primary" (click)="openEditModal(content)">
                   Chỉnh sửa thông tin
                </button>
                <button class="btn btn-primary" [routerLink]="['/profile']">
                     Quay lại
                </button>
            </div>

            <!-- Modal chỉnh sửa -->
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title m-0">Chỉnh sửa thông tin cá nhân</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-4">
                    <form [formGroup]="profileForm" class="row">
                        <input type="hidden" formControlName="status">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="name">Tên người dùng:</label>
                                <input type="text" id="name" [ngClass]="{'is-invalid': profileForm.get('name')?.touched && profileForm.get('name')?.invalid}" class="form-control" formControlName="name">
                                <div *ngIf="profileForm.get('name')?.touched && profileForm.get('name')?.invalid" class="invalid-feedback">
                                    Tên không hợp lệ
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" id="email" [ngClass]="{'is-invalid': profileForm.get('email')?.touched && profileForm.get('email')?.invalid}" class="form-control" formControlName="email">
                                <div *ngIf="profileForm.get('email')?.touched && profileForm.get('email')?.invalid" class="invalid-feedback">
                                    Email không hợp lệ
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Mật khẩu:</label>
                                <input type="password" id="password" [ngClass]="{'is-invalid': profileForm.get('password')?.touched && profileForm.get('password')?.invalid}" class="form-control" formControlName="password">
                                <div *ngIf="profileForm.get('password')?.touched && profileForm.get('password')?.invalid" class="invalid-feedback">
                                    Mật khẩu không hợp lệ
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address">Địa chỉ:</label>
                                <input type="text" id="address" [ngClass]="{'is-invalid': profileForm.get('address')?.touched && profileForm.get('address')?.invalid}" class="form-control" formControlName="address">
                                <div *ngIf="profileForm.get('address')?.touched && profileForm.get('address')?.invalid" class="invalid-feedback">
                                    Địa chỉ không hợp lệ
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone">Số điện thoại:</label>
                                <input type="text" id="phone" [ngClass]="{'is-invalid': profileForm.get('phone')?.touched && profileForm.get('phone')?.invalid}" class="form-control" formControlName="phone">
                                <div *ngIf="profileForm.get('phone')?.touched && profileForm.get('phone')?.invalid" class="invalid-feedback">
                                    Số điện thoại không hợp lệ
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="gender">Giới tính:</label>
                                <select class="form-control" id="gender" formControlName="gender">
                                    <option value="true">Nam</option>
                                    <option value="false">Nữ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 text-center">
                            <p style="color: black; font-size: 1.6rem;">Ảnh đại diện</p>
                            <img [src]="image" style="width: 150px; height: 150px; object-fit: cover;" class="img-fluid rounded-circle mt-3 mb-3" alt="Ảnh đại diện">
                            <div class="custom-file" style="width: 80%;">
                                <input type="file" class="custom-file-input" id="customFile" (change)="onFileChange($event)">
                                <label class="custom-file-label" for="customFile">Chọn ảnh</label>
                            </div>
                        </div>
                        <div class="col-12 text-right">
                            <button type="button" class="btn btn-primary btn-custom" (click)="d('Cancel click')">Hủy</button>
                            <button type="submit" class="btn btn-primary btn-custom" [disabled]="profileForm.invalid" (click)="updateProfile()">Lưu</button>
                        </div>
                    </form>
                </div>
            </ng-template>
        </div>
    </section>
</main>
