<footer class="ps-footer">
    <div class="ps-container">
        <!-- Giới thiệu về TechHalo -->
        <div class="ps-footer__techhalo-info">
            <h4 class="widget-title">Chào mừng bạn đến với TechHalo – Nơi công nghệ và đam mê gặp nhau!</h4>
            <p style="color: #333;">TechHalo là điểm đến lý tưởng cho những ai yêu thích công nghệ và tìm kiếm những sản phẩm máy tính chất lượng vượt trội. Chúng tôi không chỉ cung cấp các dòng máy tính và linh kiện chính hãng, mà còn cam kết mang đến cho bạn trải nghiệm mua sắm tối ưu với các sản phẩm như chuột, bàn phím, màn hình, ổ cứng, và nhiều thiết bị công nghệ hiện đại khác. Mỗi sản phẩm tại TechHalo đều được chọn lọc kỹ lưỡng từ các thương hiệu uy tín, đảm bảo chất lượng vượt trội và hiệu suất tối đa.</p>
            <p style="color: #333;">Địa chỉ: 12 Nguyễn Văn Bảo - Phường 4 - Gò Vấp - Tp.Hồ Chí Minh - Việt Nam.</p>
        </div>
        <div class="ps-footer__widgets">
            <!-- Liên hệ chúng tôi -->
            <aside class="widget widget_footer widget_contact-us">
                <h4 class="widget-title">Tổng đài hỗ trợ</h4>
                <div class="ps-list--link">
                    <p style="color: #333;">Gọi mua: <a href="#">0344151445</a> (8:00 - 21:30)</p>
                    <p style="color: #333;">Khiếu nại: <a href="#">052956544</a> (8:00 - 21:30)</p>
                    <p style="color: #333;">Bảo hành: <a href="#">0374514514</a> (8:00 - 21:30)</p>
                    <p style="color: #333;">Email: <a href="mailto:support@techhalo.com">support@techhalo.com</a></p>
                    <ul class="ps-list--social">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </aside>

            <!-- Đường dẫn nhanh -->
            <aside class="widget widget_footer">
                <h4 class="widget-title">Đường dẫn nhanh</h4>
                <ul class="ps-list--link">
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Kì hạn & điều kiện</a></li>
                    <li><a href="#">Đang chuyển hàng</a></li>
                    <li><a href="http://localhost:4200/home">Trở lại trang chủ</a></li>
                    <li><a href="#">Câu hỏi thường gặp</a></li>
                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">GIỜ CỬA HÀNG</h4>
                <ul class="ps-list--link">
                    <li><strong>Thứ 2:</strong><span>8:00 am - 6:00 pm</span></li>
                    <li><strong>Thứ 3:</strong><span>8:00 am - 6:00 pm</span></li>
                    <li><strong>Thứ 4:</strong><span>8:00 am - 6:00 pm</span></li>
                    <li><strong>Thứ 5:</strong><span>8:00 am - 6:00 pm</span></li>
                    <li><strong>Thứ 6:</strong><span>8:00 am - 6:00 pm</span></li>
                </ul>
            </aside>
  
            <!-- Công ty -->
            <aside class="widget widget_footer">
                <h4 class="widget-title">Về công ty</h4>
                <ul class="ps-list--link">
                    <li><a href="http://localhost:4200/about">Giới thiệu về chúng tôi</a></li>
                    <li><a href="http://localhost:4200/about">Nghề nghiệp</a></li>   
                    <li><a href="http://localhost:4200/contact">Liên hệ</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="http://localhost:4200/contact">Sitemap</a></li>
                </ul>
            </aside>

            <!-- Kinh doanh -->
            <aside class="widget widget_footer">
                <h4 class="widget-title">Dịch vụ và thông tin khác</h4>
                <ul class="ps-list--link">
                    <li><a href="#">Báo chí của chúng tôi</a></li>
                    <li><a href="#">Thủ tục thanh toán</a></li>
                    <li><a href="http://localhost:4200/profile">Tài khoản của tôi</a></li>
                    <li><a href="http://localhost:4200/all-product">Cửa hàng</a></li>
                    <li><a href="#">Chương trình khuyến mãi</a></li>
                </ul>
            </aside>
        </div>

         <!-- Copyright -->
         <div class="ps-footer__copyright">
            <p>&copy; 2024 Nhom64. Đã đăng kí bản quyền</p>
            <p><span>Chúng tôi sử dụng thanh toán an toàn cho:</span>
                <a href="javascript:void(0);"><img src="img/payment-method/1.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/2.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/3.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/4.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/5.jpg" alt="" /></a>
            </p>
        </div>
    </div>
</footer>
