<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h2 class="modal-title">Chi tiết đơn hàng nhập</h2>
    </div>
    <div class="modal-body">
      <div *ngFor="let date of groupedDates">
        <!-- Hiển thị tiêu đề ngày -->
        <h3 style="margin-top: 12px;">{{ date }}</h3>
        <table style="margin-top: -18px;" mat-table [dataSource]="groupedData[date]" class="mat-elevation-z8">
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef style="width: 15%;"></th>
            <td mat-cell *matCellDef="let row">
              <img [src]="row.product.image" width="60px" class="p-1">
            </td>
          </ng-container>
  
          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef style="width: 50%;">Tên sản phẩm</th>
            <td mat-cell *matCellDef="let row">{{ row.product.name }}</td>
          </ng-container>
  
          <ng-container matColumnDef="update_at">
            <th mat-header-cell *matHeaderCellDef style="width: 25%;">Ngày cập nhật</th>
            <td mat-cell *matCellDef="let row">{{ row.createAt_purchaseOrderDetail | date: 'HH:mm - dd/MM/yyyy' }}</td>
          </ng-container>
  
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef style="width: 15%;">Số lượng</th>
            <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
          </ng-container>
  
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef style="width: 25%;">Đơn giá</th>
            <td mat-cell *matCellDef="let row">{{ row.price | currencyVietnam }}</td>
          </ng-container>
  
          <!-- Header Row -->
          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <!-- Data Row -->
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
      </div>
    </div>
  </ng-template>
  
  

<a class="fas fa-info-circle" style="cursor: pointer; color: teal; font-size: 19px;" (click)="open(content)"></a>
